body {
  margin: 0;
  font-family: monospace;
  display: flex;
  flex-direction: column;
}

h2 {
  font-weight: 900;
  font-size: 52px;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
}

h3 {
  font-weight: 900;
  font-size: 36px;
  margin: 0;
}

h4 {
  font-size: 20px;
  margin: 0;
}

.brand-section,
.products,
.testimonials {
  padding: 50px 150px;
}

.brand-section,
.products .card {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  gap: 16px;
}

.card {
  background-color: #f6f6f6;
  display: flex;
  gap: 16px;
  padding: 24px;
  border-radius: 10px;
}

.buy-button {
  font-size: 24px;
  padding: 16px 24px;
  border-radius: 10px;
  background-color: #3858d6;
  color: white;
  font-weight: 700;
  border-style: none;
}

p {
  color: blue;
  font-size: 16px;
  text-align: center;
  margin: 0;
}

/* Main */

.main {
  padding: 0 150px;
  background-color: #0b0b0b;
  color: white;
}

/* Header */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 64px;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: #8b8e99;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 150px;
  height: 80px;
}

/* Main section */

.main-section {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 50px 0;
}

.main-section img {
  width: 450px;
  height: 500px;
}

.main-text h1 {
  font-weight: 900;
  font-size: 64px;
  margin: 0;
}

.main-text p {
  font-weight: 500;
  font-size: 16px;
  margin: 24px 0;
  color: #8b8e99;
  text-align: start;
}

/* Brands */

.card p {
  color: #8b8e99;
  text-align: start;
  font-size: 14px;
}

/* Products */

.products .container {
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
}

.products .card {
  flex-shrink: 0;
  background-color: white;
  align-items: center;
}

.products h2 {
  margin-top: 16px;
}

.products .card span {
  text-decoration: line-through;
  color: #8b8e99;
  font-size: 10px;
}

.products .card p {
  color: #0b0b0b;
  margin-top: 16px;
}

.products .product-image {
  width: 150px;
  height: auto;
  background-color: #f6f6f6;
  padding: 24px;
  border-radius: 10px;
}

.products .buy-button {
  width: 100%;
}

/* Testimonial */

.testimonials h2 {
  margin-top: 16px;
}
.testimonials .container {
  margin: 50px 0;
  gap: 50px;
}

.person-img {
    width: 130px;
    height: auto;
}

.testimonials .card{
    gap:30px;
}

.testimonials h4,
.testimonials p {
  margin-bottom: 16px;
}
