body {
  margin: 0;
  font-family: monospace;
  display: flex;
  flex-direction: column;
}

/* Main */

.main {
  padding: 0 150px;
  background-color: #0B0B0B;
  color: white;
}

/* Header */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 64px;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: #8B8E99;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 150px;
  height: 80px;
}

/* Main section */

.main-section {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 50px 0;
}

.main-section img {
  width: 450px;
  height: 500px;
}

.main-text h1 {
  font-weight: 900;
  font-size: 64px;
  margin: 0;
}

.main-text p {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 24px;
  color: #8B8E99;
}

.buy-button {
  font-size: 24px;
  padding: 16px 24px;
  border-radius: 10px;
  background-color: #176b87;
  color: white;
  font-weight: 700;
  border-style: none;
}
